.appCarousel {
    max-width: 600px;
    margin:auto;
}

.mainDataItem {
    font-style: italic;
    padding-left: 12px;
}

.serviceHistoryEntry  {
    border-bottom: 3px solid #0489ae;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .actions {
        margin-bottom: 12px;
        padding-top: 12px;
        border-top: 1px solid #0489ae;

        a {
            margin-right: 8px;
        }
    }
}

.serviceHistoryForm {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    margin-bottom: 24px;

    .formField {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        font-weight: bold;
        max-width: 360px;

        .descriptionField {
            height: 128px;
        }

        input, select {
            margin-top: 8px;
            height: 32px;
        }
    }
}

.infoButton {
    width: 120px;
    height: 35px;
    background-color: #fff;
    position: relative;
    border: 3px solid #0489ae;
    color: #0489ae;
    border-radius: 22px;
    transition: all .3s cubic-bezier(.13,.71,.57,1.29);
    cursor: pointer;
    padding: 4px;
}

.dangerButton {
    width: 120px;
    height: 35px;
    background-color: #fff;
    position: relative;
    border: 3px solid #b30000;
    color: #b30000;
    border-radius: 22px;
    transition: all .3s cubic-bezier(.13,.71,.57,1.29);
    cursor: pointer;
    padding: 4px;
}
