.appCarousel {
    max-width: 600px;
    margin:auto;
}

.mainDataItem {
    font-style: italic;
    padding-left: 12px;
}

.serviceHistoryEntry  {
    border-bottom: 1px solid #0489ae;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
